.name {
    margin: 0.5em auto;
    text-align: center;
}

.card {
    padding: 1.5em;
    border-radius: 4px;
    background: #D6D6D6;
}

.card:hover {
    box-shadow: 0 0 10px rgba(90, 90, 90, 0.5);
    background: #72BAAC;
}