.nav {
    border-radius: 4px;
    padding: 0.5em;
    font-size: 1.7em;
}

.nav:hover a {
    color: #EE7546;
}

.nav1 {
    grid-area: nav1;
}

.nav2 {
    grid-area: nav2;
}

.nav3 {
    grid-area: nav3;
}

.header {
    margin-bottom: 1em;
    display: grid;
    grid-gap: 25px;
    align-content: center;
    /*justify-content: center;*/
    grid-template-areas: "nav1 nav2 nav3 nav3 nav3";
}

/*Смартфоны (Портрет и ландшафтный)*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/*Смартфоны (portrait)*/
@media only screen and (max-width: 320px) {
    .header {
        grid-template-areas: "nav1" "nav2" "nav3";
    }
}

/*Смартфоны (ландшафтный)*/
@media only screen and (min-width: 321px) and (max-width: 767px) {
    .header {
        grid-template-areas: "nav1" "nav2" "nav3";
    }
}

/*iPads (Портрет и Ландшафтный)*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/*iPads (Ландшафтный)*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .header {
        grid-template-areas: "nav1 nav2 nav3 nav3 nav3";
    }
}

/*iPads (Портрет)*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .header {
        grid-template-areas: "nav1 nav2" "nav3 nav3";
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        grid-template-areas: "nav1 nav2 nav3 nav3 nav3";
    }
}

@media only screen and (min-width: 1025px) {
    .header {
        grid-template-areas: "nav1 nav2 nav3 nav3 nav3 nav3";
    }
}

/*Настольные компьютеры и ноутбуки*/
@media only screen and (min-width: 1224px) {
    .header {
        grid-template-areas: "nav1 nav2 nav3 nav3 nav3 nav3";
    }
}

/*Большие экраны*/
@media only screen and (min-width: 1824px) {
    .header {
        grid-template-areas: "nav1 nav2 nav3 nav3 nav3 nav3";
    }
}

/*iPhone 4*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
}
