.card {
    position: relative;
    border-radius: 4px;
    background: #D6D6D6;
    overflow: hidden;
}

.card:hover {
    background: #72BAAC;
    box-shadow: 0 0 10px rgba(90, 90, 90, 0.5);
}

.card:hover .count {
    background: #72BAAC;
}

.img {
    width: 100%;
}

.count {
    background: #D6D6D6;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    /*margin: 1em;*/
    padding: 0.5em;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.title {
    font-size: 1.5em;
    margin: 1em;
}