.avatar {
    margin: 0 auto;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: solid 3px #5A5A5A;
    color: #F8F8F8;
    text-align: center;
    padding-top: 0.57em;
    font-size: 1.7em;
}

.avatar:hover {
    border: solid 3px #F8F8F8;
}

.color-1 {
    background: #0C486C;
}

.color-2 {
    background: #EB9605;
}

.color-3 {
    background: #FE4E50;
}

.color-4 {
    background: #3C81B5;
}

.color-5 {
    background: #24273A;
}
